/* reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
}

/*search box*/
.search__box{
    background: black;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
    transform: translate( -50px,-150px);
    
}

.search__box.open{
    width: 400px;
    transition: 0.5s;
}
.search__box__input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    padding: 20px 100px 20px 20px;
    font-size: 25px;
    font-weight: 600;
    outline: none;
}

.search__box__btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: #FF4040;
    cursor: pointer;
}


.search__box__btn i{
    font-weight: 800;
    padding-top: 5px;
}
.search__box__btn:hover{
    background-color: white;
}

/* modal box*/

.modal__box__button{
    background-color: #FF4040;
    border: none;
    height: 100px;
    width: 250px;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    transform: translate(-300px, 60px);
}
.modal__box__button:hover {
    background-color: white;
    border: 2px solid black;
}

.modal__box{
    
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);  
    
}
.modal__box.open{
    display: flex;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.modal__box__container{
    background-color: white;
   width: 500px;
   max-width: calc(100%  - 40px);
   min-height: 200px;
   position: relative;
   animation: modalFadeIn ease 0.5s;
}


.modal__box__header{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FF4040;
    height: 40px;
    width: 100%;
   padding-left: 20px; 
}

.modal__box__close{
    right: 0;
    top: 0;
    position: absolute;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.modal__box__close i:hover{
    color: white;

}

.modal__box__body  , .modal__box__footer {
    padding: 20px 0px 0px 20px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}


footer{

    transform: translate( -50px,300px);
}